%h2 Minhas vagas

%table.table
  %thead.thead-dark
    %tr
      %th{:scope => "col"} Título
      %th{:scope => "col"} Carreira
      %th{:scope => "col"} Local
      %th{:scope => "col"} Tipo de contrato
      %th{:scope => "col"} Candidaturas
      %th{:scope => "col"} Ações
  %tbody
    - @positions.each do |position|
      %tr
        %th{:scope => "row"}= position.name
        %td= position.career
        %td= position.remote # aplicar helper
        %td= position.contract
        %td 1 (ver detalhes)
        %td
          = link_to 'Editar', edit_position_path(position)
