= simple_form_for @applicant, remote: (request.format.symbol == :js) ? true : false do |f|
  = f.hidden_field :position_id, value: @position.id
  = f.input :name
  = f.input :email, input_html: { value: current_user.email } 
  = f.input :phone
  = f.button :submit, 'Aplicar vaga', class: 'btn btn-primary'
