%header.text-center
  %h1 Open Vagas
  %p= t(:home_description)

%form
  .row
    .col-sm
      %label= t(:career)
      %input.form-control{:placeholder => "First name", :type => "text"}/
    .col-sm
      %label Localidade
      %input.form-control{:placeholder => "Last name", :type => "text"}/
    .col-sm
      %label Local de trabalho
      %input.form-control{:placeholder => "Last name", :type => "text"}/
    .col-sm
      %button.btn.btn-danger{:type => "submit", style: 'margin-top: 31px;'}= t(:submit)

- @positions.each do |position|
  = render position

%p.d-block.text-center.mt-3
  %a{:href => "#"}= t(:pagination)
